* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.15s ease;
}

$green: hsl(163, 72%, 41%);

// Light Theme Variables
$light-background: hsl(0, 0%, 100%);
$very-pale-blue: hsl(225, 100%, 98%);
$light-grey-blue: hsl(227, 47%, 96%);
$dark-grey-blue: hsl(228, 12%, 44%);
$very-dark-blue: hsl(230, 17%, 14%);

// Dark Theme Variables
$very-dark-blue: hsl(230, 17%, 14%);
$very-dark-blue-top: hsl(232, 19%, 18%);
$dark-saturated-blue: hsl(228, 28%, 20%);
$desaturated-blue: hsl(228, 34%, 66%);
$white: hsl(0, 0%, 100%);

//root for light mode
:root {
  --color-page-background: #{$light-background};
  --color-page-top: #{$very-pale-blue};
  --card-color: #{$light-grey-blue};
  --font-color: #{$dark-grey-blue};
  --main-font-color: #{$very-dark-blue};
  --card-hover-color: hsl(227, 47%, 92%);
}

//dark mode
.dark {
  --color-page-background: #{$very-dark-blue};
  --color-page-top: #{$very-dark-blue-top};
  --card-color: #{$dark-saturated-blue};
  --font-color: #{$desaturated-blue};
  --main-font-color: #{$white};
  --card-hover-color: hsl(228, 28%, 30%);
}

body {
  background-color: var(--color-page-background);
  min-height: 100vh;
}

hr {
  border-top: 1px solid var(--font-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  background-color: var(--color-page-top);
  padding: 2.5em 1.7em 3em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sub__header {
  padding: 2.5em 1.7em 2em;
}

.line {
  content: " ";
  border-bottom: 1.5px solid var(--font-color);
}

.main-container {
  max-width: 1370px;
  background-color: pink;
  margin: 0 auto;
}

.content {
  margin-top: -3em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0em;
}

.sub__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
}

.green {
  color: hsl(163, 72%, 41%);
}

.red {
  color: hsl(356, 69%, 56%);
}

h1,
h2 {
  color: var(--main-font-color);
}

h3 {
  color: var(--main-font-color);
}

p {
  color: var(--font-color);
}

.facebook {
  background: linear-gradient(hsl(208, 92%, 53%) 0 0) top/100% 4px no-repeat;
}

.twitter {
  background: linear-gradient(hsl(203, 89%, 53%) 0 0) top/100% 4px no-repeat;
}

.instagram {
  background: linear-gradient(0.25turn, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
    top/100% 4px no-repeat;
}

.youtube {
  background: linear-gradient(hsl(348, 97%, 39%) 0 0) top/100% 4px no-repeat;
}

.overview {
  padding: 1em 0 1em;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.headline {
  font-size: 1.56rem;
}

.card {
  border-radius: 5px;
  width: 320px;
  background-color: var(--card-color);
  margin-bottom: 25px;
  &:hover {
    background-color: var(--card-hover-color);
    cursor: pointer;
  }
}

.big-card {
  text-align: center;
  position: relative;
  .social-tag {
    padding-top: 2.2em;
    justify-content: center;
    display: flex;
    align-items: center;
    p {
      margin-left: 8px;
      font-weight: 700;
      font-size: 0.7rem;
    }
  }
  h1 {
    font-size: 3rem;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
  }
  .followers {
    letter-spacing: 4px;
    padding-bottom: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .percentage {
    font-weight: 700;
    font-size: 0.7rem;
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    // color: $green;
  }
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 5px solid $green;
  margin-right: 4px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid red;
  margin-right: 4px;
}

.small-card {
  padding: 1.5em 1.5em 1em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 700;
      font-size: 0.7rem;
    }
  }
  .bottom {
    padding-top: 1.5em;
    .percentage {
      font-weight: 700;
      font-size: 0.7rem;
      margin-top: 14px;
      display: flex;
      align-content: center;
      // color: $green;
      .arrow-down {
        margin-top: 4px;
      }
      .arrow-up {
        margin-top: 4px;
      }
    }
  }
}

.dash {
  font-weight: 700;
  font-size: 0.94rem;
  padding: 0.7em 0 1.5em 0;
}

/* THEME SWITCH CSS */

.theme-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 2.8em;
  .dark__mode {
    font-weight: 700;
    font-size: 0.94rem;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  right: 3px;
  bottom: 3px;
  background-color: var(--color-page-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(45deg, hsl(208, 92%, 53%), hsl(146, 68%, 55%));
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(-19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.attribution {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .content {
    max-width: 1170px;
    background-color: blue;
    .card {
      max-width: 270px;
    }
  }

  .theme-switch {
    justify-content: flex-end;
    margin-top: -70px;
    .switch {
      margin-left: 1em;
    }
  }

  .main-container {
   max-width: 1170px;
  }

  body {
    background-color: red;
  }

  .sub__content {
    max-width: 1170px;
    background-color: green;
    .card {
      max-width: 270px;
    }

  }

  .line {
    display: none;
  }

  .sub__header {
    background-color: yellow;
  }
}
