* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.15s ease;
}

:root {
  --color-page-background: white;
  --color-page-top: #f5f7ff;
  --card-color: #f0f2fa;
  --font-color: #63687e;
  --main-font-color: #1e202a;
  --card-hover-color: hsl(227, 47%, 92%);
}

.dark {
  --color-page-background: #1e202a;
  --color-page-top: #252837;
  --card-color: #252a41;
  --font-color: #8b97c6;
  --main-font-color: white;
  --card-hover-color: hsl(228, 28%, 30%);
}

body {
  background-color: var(--color-page-background);
  min-height: 100vh;
}

hr {
  border-top: 1px solid var(--font-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.header {
  background-color: var(--color-page-top);
  padding: 2.5em 1.7em 3em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sub-header {
  padding: 2.5em 1.7em 2em;
}

.line {
  content: " ";
  border-bottom: 1.5px solid var(--font-color);
}

.main-container {
  max-width: 1370px;
  margin: 0 auto;
}

.content {
  margin-top: -3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 0em;
}

.sub__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.green {
  color: #1db489;
}

.red {
  color: #dc414c;
}

h1,
h2 {
  color: var(--main-font-color);
}

h3 {
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

.facebook {
  background: linear-gradient(#198ff5 0 0) top/100% 4px no-repeat;
}

.twitter {
  background: linear-gradient(#1ca0f2 0 0) top/100% 4px no-repeat;
}

.instagram {
  background: linear-gradient(0.25turn, #fdc468, #df4996) top/100% 4px no-repeat;
}

.youtube {
  background: linear-gradient(#c4032a 0 0) top/100% 4px no-repeat;
}

.overview {
  padding: 1em 0 1em;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.headline {
  font-size: 1.56rem;
}

.card {
  border-radius: 5px;
  width: 320px;
  background-color: var(--card-color);
}

.card:hover {
  background-color: var(--card-hover-color);
  cursor: pointer;
}

.big-card {
  text-align: center;
  position: relative;
}

.big-card .social-tag {
  padding-top: 2.2em;
  justify-content: center;
  display: flex;
  align-items: center;
}

.big-card .social-tag p {
  margin-left: 8px;
  font-weight: 700;
  font-size: 0.7rem;
}

.big-card h1 {
  font-size: 3rem;
  padding-top: 0.4em;
  padding-bottom: 0.1em;
}

.big-card .followers {
  letter-spacing: 3px;
  padding-bottom: 2em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.big-card .percentage {
  font-weight: 700;
  font-size: 0.7rem;
  padding-bottom: 2.5em;
}

.small-card {
  padding: 1.8em 1.5em 1.5em;
}

.small-card .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-card .container p {
  font-weight: 700;
  font-size: 0.7rem;
}

.small-card .bottom {
  padding-top: 1.5em;
}

.small-card .bottom .small-percent {
  display: inline;
}

.dash {
  font-weight: 700;
  font-size: 0.94rem;
  padding: 0.7em 0 1.5em 0;
}

/* THEME SWITCH CSS */
.theme-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0 2.8em;
}

.theme-switch .dark__mode {
  font-weight: 700;
  font-size: 0.94rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  right: 3px;
  bottom: 3px;
  background-color: var(--color-page-background);
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(45deg, #198ff5, #3eda82);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(-19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.attribution {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */